<!DOCTYPE html>
<html>
<head>
    @await Component.InvokeAsync("HeadComponent")
</head>

<body class="@ViewBag.Page">
    <div class="hero_area">
        <div class="bg-box">
            <img src="~/feane-1.0.0/images/hero-bg.jpg" alt="">
        </div>

        @await Component.InvokeAsync("HeaderComponent")
        @RenderSection("SliderSection", required: false)")
    </div>

    @RenderBody()

    @await Component.InvokeAsync("FooterComponent")
    @await Component.InvokeAsync("ScriptComponent")
</body>
</html>