@model List<SignalRWebUI.Dtos.DiscountDtos.ResultDiscountDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}

<div class="card p-3">
    <div class="card-header">
        <div class="card-title">İndirim</div>
    </div>
    @if (Model == null)
    {
        <div class="alert alert-danger">Veri Bulunamadı</div>
    }
    else
    {

        <div class="d-flex justify-content-end">

            <a href="/Admin/Discount/Create" class="btn btn-success">Yeni İndirim Ekle</a>
        </div>
        <table class="table table-bordered table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Başlık</th>
                    <th scope="col">İndirim Miktarı</th>
                    <th scope="col">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.DiscountAmount</td>
    
                        <td style="position: relative;">

                            <div class="nav-item dropdown">
                                <button style="border:none; background-color:transparent; cursor:pointer" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false"><i class="la la-bars" style="font-size:22px"></i></button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/Admin/Discount/Update/@item.Id">Güncelle</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/Admin/Discount/Delete/@item.Id">Sil</a></li>
                                </ul>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
</div>
