@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script type="text/javascript">
            $(document).ready(function () {
            var connection = new signalR.HubConnectionBuilder()
                .withUrl("https://localhost:7272/SignalRHub")
                .build();

            function startConnectionWithRetry(retryCount = 0) {
                connection.start().then(() => {
                    console.log("SignalR bağlantısı kuruldu.");
                    connection.invoke("SendCategoryCount");
                    connection.invoke("SendProductCount");
                    connection.invoke("SendActiveCategoryCount");
                    connection.invoke("SendPassiveCategoryCount");
                    connection.invoke("SendHamburgerCount");
                    connection.invoke("SendDrinkCount");
                    connection.invoke("SendAvgProductPrice");
                    connection.invoke("SendMaxProductPrice");
                    connection.invoke("SendMinProductPrice");
                    connection.invoke("SendAvgHamburgerPrice");
                    connection.invoke("SendOrderCount");
                    connection.invoke("SendActiveOrderCount");
                    connection.invoke("SendLastOrderAmount");
                    connection.invoke("SendMoneyCaseAmount");
                    connection.invoke("SendMenuTableCount");
                }).catch(err => {
                    console.error("Bağlantı hatası:", err.toString());

                    // Maksimum 5 deneme yap
                    if (retryCount < 5) {
                        setTimeout(() => {
                            startConnectionWithRetry(retryCount + 1);
                        }, 2000); // 2 saniye bekle, sonra tekrar dene
                    } else {
                        console.error("SignalR bağlantısı başarısız oldu. Maksimum deneme sayısına ulaşıldı.");
                    }
                });
            }

            startConnectionWithRetry();


            connection.on("ReceiveCategory", (value) => {
                $("#categoryCount").text(value);
            });

            connection.on("ReceiveProduct", (value) =>
             {
                 $("#productCount").text(value);
             });

                 connection.on("ReceiveActiveCategory", (value) => {
                    $("#activeCategoryCount").text(value);});

                        connection.on("ReceivePassiveCategory", (value) => {
                    $("#passiveCategoryCount").text(value);});


             connection.on("ReceiveHamburgerCount", (value) => {
                $("#productCountWithHamburgerCategory").text(value);});

                connection.on("ReceiveDrinkCount", (value) => {
                $("#productCountWithDrinkCategory").text(value);});

                connection.on("ReceiveAvgProductPrice", (value) => {
                $("#avarageProductPrice").text(value + "₺");});

                connection.on("ReceiveMaxProductPrice", (value) => {
                $("#highestProduct").text(value);});

                connection.on("ReceiveMinProductPrice", (value) => {
                $("#lowestProduct").text(value);});

                connection.on("ReceiveAvgHamburgerPrice", (value) => {
                $("#avarageHamburgerProductPrice").text(value + "₺");});

                connection.on("ReceiveOrderCount", (value) => {
                $("#totalOrderCount").text(value);});

                connection.on("ReceiveActiveOrderCount", (value) => {
                $("#activeOrderCount").text(value);});

                connection.on("ReceiveMoneyCaseAmount", (value) => {
                $("#moneyCaseAmount").text(value + "₺");});

                connection.on("ReceiveLastOrderAmount", (value) => {
                $("#lastOrderAmount").text(value + "₺");});

                connection.on("ReceiveMenuTableCount", (value) => {
                $("#tableCount").text(value);});

        });
    // </script>

<div class="container-fluid">
    <h4 class="page-title">Dashboard</h4>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-stats card-warning">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi bi-folder"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Kategori Sayısı</p>
                                <h4 class="card-title" id="categoryCount"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-success">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi bi-box-seam"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Ürün Sayısı</p>
                                <h4 class="card-title" id="productCount"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-danger">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi-folder-check"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Aktif Kategori Sayısı</p>
                                <h4 class="card-title" id="activeCategoryCount"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-primary">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi bi-folder-x"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Pasif Kategori Sayısı</p>
                                <h4 class="card-title" id="passiveCategoryCount"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-stats card-warning">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi bi-tags"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Hamburger Sayısı</p>
                                <h4 class="card-title" id="productCountWithHamburgerCategory"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-success">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi bi-tags"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">İçecek Sayısı</p>
                                <h4 class="card-title" id="productCountWithDrinkCategory"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-danger">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi bi-cash-coin"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Ortalama Ürün Fiyatı</p>
                                <h4 class="card-title" id="avarageProductPrice"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-primary">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi-graph-up-arrow"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">En Yüksek Ürün</p>
                                <h4 class="card-title" id="highestProduct"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-stats card-warning">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi-graph-down-arrow"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">En Düşük Ürün</p>
                                <h4 class="card-title" id="lowestProduct"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-success">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi bi-basket"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category"> Ortalama Hamburger Fiyatı</p>
                                <h4 class="card-title" id="avarageHamburgerProductPrice"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-danger">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi-receipt"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Toplam Sipariş Sayısı</p>
                                <h4 class="card-title" id="totalOrderCount"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-primary">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi-receipt-cutoff"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Aktif Sipariş Sayısı</p>
                                <h4 class="card-title" id="activeOrderCount"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-stats card-warning">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi-clock-history"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Son Sipariş Tutarı</p>
                                <h4 class="card-title" id="lastOrderAmount"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-success">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi-wallet2"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Kasadaki Tutar</p>
                                <h4 class="card-title" id="moneyCaseAmount"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-danger">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi-calendar-check"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Bugünkü Kazanç</p>
                                <h4 class="card-title" id="todaysEarning">3315₺</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-primary">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="bi-table"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Masa Sayısı</p>
                                <h4 class="card-title" id="tableCount"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>